apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: backplane-lpsre-package-operator-admin
rules:
- apiGroups:
  - package-operator.run
  resources: ['*']
  verbs:
  - get
  - list
  - watch
  - update
  - patch
  - create
  - delete
