apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: backplane-acs-admins-project
rules:
# ACS team can interact with ACS
- apiGroups:
  - platform.stackrox.io
  - cloud.stackrox.io
  resources:
  - centrals
  - securedclusters
  verbs:
  - get
  - list
  - watch
# ACS team can get pod logs
- apiGroups:
  - ""
  resources:
  - pods
  - pods/log
  verbs:
  - get
  - watch
  - list
# ACS team can scale deployments
- apiGroups:
  - apps
  resources:
  - deployments/scale
  verbs:
  - get