deploymentMode: "SelectorSyncSet"
selectorSyncSet:
  matchExpressions:
  - key: api.openshift.com/product
    operator: In
    values: ["rosa"]
  - key: hive.openshift.io/version-major-minor
    operator: In
    values: ["4.1", "4.2", "4.3", "4.4", "4.5", "4.6", "4.7", "4.8", "4.9", "4.10", "4.11", "4.12", "4.13", "4.14"]
    # Due to a race condition found during testing for SREP-901 for upgrades, we do not remove the legacy brand image
    # until 4.15
  applyBehavior: "CreateOrUpdate"
