kind: Namespace
apiVersion: v1
name: #EXEMPT_NAMESPACE#
applyMode: AlwaysApply
# User of the template will substitute in the labels to apply in JSON notation.
patch: |-
  { "metadata": {"labels": #LABELS# } }
patchType: merge
