---
kind: ClusterResourceQuota
apiVersion: quota.openshift.io/v1
metadata:
  name: persistent-volume-quota
spec:
  selector:
    annotations: null
    labels:
      matchExpressions:
      - key: #PV_EXCLUSION_LABEL_NAME#
        operator: DoesNotExist
  quota:
    hard:
      requests.storage: "#DEFAULT_PV_QUOTA#"
---
kind: ClusterResourceQuota
apiVersion: quota.openshift.io/v1
metadata:
  name: loadbalancer-quota
spec:
  selector:
    annotations: null
    labels:
      matchExpressions:
      - key: #LB_EXCLUSION_LABEL_NAME#
        operator: DoesNotExist
  quota:
    hard:
      services.loadbalancers: "#DEFAULT_LB_QUOTA#"
