apiVersion: hive.openshift.io/v1
kind: SelectorSyncSet
metadata:
  labels:
    managed.openshift.io/gitHash: ${IMAGE_TAG}
    managed.openshift.io/gitRepoName: ${REPO_NAME}
    managed.openshift.io/osd: 'true'
  name: osd-fedramp-machineconfig
spec:
  clusterDeploymentSelector:
    matchLabels:
      api.openshift.com/managed: 'true'
    matchExpressions:
    - key: api.openshift.com/fedramp
      operator: In
      values:
      - 'true'
  resourceApplyMode: Sync
  resources:
  - apiVersion: machineconfiguration.openshift.io/v1
    kind: MachineConfig
    metadata:
      labels:
        machineconfiguration.openshift.io/role: master
      name: 00-master-chrony
    spec:
      config:
        ignition:
          version: 3.2.0
        storage:
          files:
          - contents:
              source: data:,server%20129.6.15.28%20prefer%20iburst%20minpoll%204%20maxpoll%204%0Aserver%20132.163.97.1%20prefer%20iburst%20minpoll%204%20maxpoll%204%0Aserver%20132.163.96.1%20prefer%20iburst%20minpoll%204%20maxpoll%204%0Adriftfile%20%2Fvar%2Flib%2Fchrony%2Fdrift%0Artcsync%0Alogdir%20%2Fvar%2Flog%2Fchrony
            mode: 420
            overwrite: true
            path: /etc/chrony.conf
  - apiVersion: machineconfiguration.openshift.io/v1
    kind: MachineConfig
    metadata:
      labels:
        machineconfiguration.openshift.io/role: worker
      name: 00-worker-chrony
    spec:
      config:
        ignition:
          version: 3.2.0
        storage:
          files:
          - contents:
              source: data:,server%20129.6.15.28%20prefer%20iburst%20minpoll%204%20maxpoll%204%0Aserver%20132.163.97.1%20prefer%20iburst%20minpoll%204%20maxpoll%204%0Aserver%20132.163.96.1%20prefer%20iburst%20minpoll%204%20maxpoll%204%0Adriftfile%20%2Fvar%2Flib%2Fchrony%2Fdrift%0Artcsync%0Alogdir%20%2Fvar%2Flog%2Fchrony
            mode: 420
            overwrite: true
            path: /etc/chrony.conf
