deploymentMode: "SelectorSyncSet"
selectorSyncSet:
  matchExpressions:
  - key: api.openshift.com/product
    operator: In
    values: ["rosa"]
  applyBehavior: "CreateOrUpdate"
  # use Upsert so if this configuration no longer applies it will not delete the OAuth resource in cluster which is a singleton.  We should never delete OAuth.
  resourceApplyMode: "Upsert"
policy:
  destination: "generated_deploy/acm-policies"
  complianceType: "musthave"
