export TELEMETER_SERVER_URL=dummyurl.com
export VALERO_OPERATOR_IMAGE=quay.io/openshift-sre/managed-velero-operator:v0.1.35-49347f0

export IMAGE_TAG=test_tag
export REPO_NAME=repo_name

export IDENTITY_ATTR_EMAIL=examle@mail.com
export IDENTITY_ATTR_ID=fakeid
export IDENTITY_ATTR_NAME=name
export IDENTITY_ATTR_PREFERRED_USERNAME=batman
export IDENTITY_BIND_DN=test
export IDENTITY_URL=url
export IDENTITY_NAME=me
export IDENTITY_MAPPING_METHOD=claim