apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
  name: prometheus-k8s
  namespace: openshift-sre-ethtool-exporter
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: prometheus-k8s
subjects:
  - kind: ServiceAccount
    name: hypershift-monitoring-stack-prometheus
    namespace: openshift-observability-operator