---
apiVersion: batch/v1
kind: Job
metadata:
  name: sre-cdo-reinstall
  namespace: openshift-custom-domains-operator
spec:
  template:
    spec:
      serviceAccountName: sre-cdo-reinstall-sa
      restartPolicy: Never
      containers:
      - name: operator-reinstaller
        image: image-registry.openshift-image-registry.svc:5000/openshift/cli:latest
        imagePullPolicy: Always
        command:
        - sh
        - -c
        - |
          #!/bin/bash
          set -euxo pipefail
          NAMESPACE=openshift-custom-domains-operator

          # Check for the presence of CDO v0.1.247-394c11f (current latest). If it exists, do nothing. If any other version is found clean up OLM resources
          if ! oc -n "$NAMESPACE" get clusterserviceversions.operators.coreos.com custom-domains-operator.v0.1.245-c1065b7; then
            oc -n "$NAMESPACE" delete clusterserviceversions.operators.coreos.com $(oc -n "$NAMESPACE" get clusterserviceversions.operators.coreos.com -ojsonpath='{.items[?(@.spec.displayName=="custom-domains-operator")].metadata.name}') || true
            oc -n "$NAMESPACE" delete installplan.operators.coreos.com -l operators.coreos.com/custom-domains-operator.openshift-custom-domains-operator=""
            oc -n "$NAMESPACE" delete subscriptions.operators.coreos.com custom-domains-operator
          fi
          exit 0
