apiVersion: flows.netobserv.io/v1beta2
kind: FlowCollector
metadata:
  name: cluster
spec:
  agent:
    ebpf:
      logLevel: info
      metrics:
        server:
          tls:
            insecureSkipVerify: false
            type: Disabled
          port: 9400
      cacheMaxFlows: 100000
      resources:
        limits:
          memory: 1Gi
        requests:
          cpu: 50m
          memory: 100Mi
      sampling: 50
      imagePullPolicy: IfNotPresent
      excludeInterfaces:
      - lo
      kafkaBatchSize: 10485760
      cacheActiveTimeout: 5s
      interfaces: [ ]
      features:
        - PacketDrop
        - DNSTracking
        - FlowRTT
      privileged: true
    ipfix:
      cacheActiveTimeout: 20s
      cacheMaxFlows: 400
      clusterNetworkOperator:
        namespace: openshift-network-operator
      forceSampleAll: false
      ovnKubernetes:
        containerName: ovnkube-node
        daemonSetName: ovnkube-node
        namespace: ovn-kubernetes
      sampling: 400
    type: eBPF
  consolePlugin:
    logLevel: info
    advanced:
      port: 9001
      register: true
    enable: false
    resources:
      limits:
        memory: 100Mi
      requests:
        cpu: 10m
        memory: 50Mi
    portNaming:
      enable: true
      portNames:
        '3100': loki
    quickFilters:
    - default: true
      filter:
        flow_layer: '"app"'
      name: Applications
    - filter:
        flow_layer: '"infra"'
      name: Infrastructure
    - default: true
      filter:
        dst_kind: '"Pod"'
        src_kind: '"Pod"'
      name: Pods network
    - filter:
        dst_kind: '"Service"'
      name: Services network
    imagePullPolicy: IfNotPresent
    autoscaler:
      maxReplicas: 3
      metrics:
      - resource:
          target:
            averageUtilization: 50
            type: Utilization
          name: cpu
        type: Resource
      minReplicas: 1
      status: Disabled
    replicas: 3
  deploymentModel: Direct
  exporters: [ ]
  loki:
    enable: false
  processor:
    logLevel: info
    advanced:
      port: 2055
      conversationTerminatingTimeout: 5s
      conversationEndTimeout: 10s
      profilePort: 6060
      enableKubeProbes: true
      healthPort: 8080
      dropUnusedFields: true
      conversationHeartbeatInterval: 30s
    metrics:
      disableAlerts: [ ]
      server:
        tls:
          insecureSkipVerify: false
          type: Disabled
        port: 9401
    resources:
      limits:
        memory: 1Gi
      requests:
        cpu: 50m
        memory: 100Mi
    multiClusterDeployment: false
    kafkaConsumerQueueCapacity: 1000
    imagePullPolicy: IfNotPresent
    kafkaConsumerAutoscaler:
      maxReplicas: 3
      status: Disabled
    logTypes: Flows
    kafkaConsumerReplicas: 3
    kafkaConsumerBatchSize: 10485760
    addZone: false
  prometheus:
    querier:
      manual:
        tls:
          enable: false
          insecureSkipVerify: false
        url: 'http://prometheus:9090'
      mode: Auto
      timeout: 30s
      enable: true
  namespace: netobserv
