apiVersion: ocmagent.managed.openshift.io/v1alpha1
kind: ManagedFleetNotification
metadata:
  name: audit-webhook-error-putting-minimized-cloudwatch-log
  namespace: openshift-ocm-agent-operator
spec:
  fleetNotification:
    summary: Audit-events could not be delivered to your CloudWatch.
    notificationMessage: |-
      An audit-event send to your CloudWatch failed delivery, due to the event being too large. The reduced event failed delivery as well. Please verify your CloudWatch configuration for this cluster: https://access.redhat.com/solutions/7002219.
    name: audit-webhook-error-putting-minimized-cloudwatch-log
    resendWait: 24
    severity: Info
