apiVersion: batch/v1
kind: Job
metadata:
    name: osd-cluster-ready
    namespace: openshift-monitoring
spec:
    # NOTE: We're making this ridiculously high to ensure that the
    # actual code gets a chance to run to completion. However, consumers
    # should implement a sensible timeout rather than waiting forever.
    backoffLimit: 500
    template:
        metadata:
            name: osd-cluster-ready
            annotations:
                openshift.io/required-scc: restricted-v2
        spec:
            containers:
            - name: osd-cluster-ready
              # Keep the `managed.openshift.io/version` label in sync
              # with this
              image: "quay.io/redhat-services-prod/openshift/osd-cluster-ready@sha256:b31101e1483fdedab934c8a214fce74d94d3005510b3d7df247d618fa573de7e"
            restartPolicy: OnFailure
            serviceAccountName: osd-cluster-ready
