apiVersion: batch/v1
kind: Job
metadata:
    name: osd-cluster-ready
    namespace: openshift-monitoring
spec:
    # NOTE: We're making this ridiculously high to ensure that the
    # actual code gets a chance to run to completion. However, consumers
    # should implement a sensible timeout rather than waiting forever.
    backoffLimit: 500
    template:
        metadata:
            name: osd-cluster-ready
            annotations:
                openshift.io/required-scc: restricted-v2
        spec:
            containers:
            - name: osd-cluster-ready
              # Keep the `managed.openshift.io/version` label in sync
              # with this
              image: "quay.io/redhat-services-prod/openshift/osd-cluster-ready@sha256:d9996e1bdcc903829aa3cdfe11ee1a67acc69cdb79468d61b7c8b020ecb53c70"
            restartPolicy: OnFailure
            serviceAccountName: osd-cluster-ready
