---
apiVersion: monitoring.rhobs/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: nodepool-provisioning-failure
    role: alert-rules
  name: nodepool-provisioning-failure
  namespace: openshift-observability-rhobs
spec:
  groups:
    - name: nodepool-provisioning-failure
      interval: 60s
      rules:
        - record: sre:nodepool:provisioning_failure_notify
          expr: |-
            sum by (_id, cluster_name, exported_namespace, namespace) (
              (
                ((hypershift_nodepools_available_replicas / hypershift_nodepools_size) < 1)
                unless on (_id) (
                  (hypershift_nodepools_size == 0) or (hypershift_cluster_limited_support_enabled == 1)
                )
              )
              unless on (exported_namespace) last_over_time(hypershift_cluster_deleting_duration_seconds[10m])
            )
        - alert: NodepoolFailureNotification
          annotations:
            description: "One or more nodepool for cluster {{ $labels._id }} has not reached its target size for more than 1 hour"
            summary: "NodePool provisioning Failure"
          expr: (sre:nodepool:provisioning_failure_notify and on (exported_namespace) (sre:nodepool:all_components_available == 1)) unless on (exported_namespace) sre:nodepool:invalid_payload_nodepool_provision_failure
          for: 60m
          labels:
            severity: warning
            send_managed_notification: "false"
            managed_notification_template: nodepool-provisioning-failure
            cluster_id: "{{ $labels._id }}" 
            namespace: "{{ $labels.namespace }}"