deploymentMode: "SelectorSyncSet"
selectorSyncSet:
  matchLabels:
    ext-managed.openshift.io/hive-shard: "true"
  matchExpressions:
  - key: api.openshift.com/fedramp
    operator: NotIn
    values:
      - "true"
