---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: sre-dns-latency-exporter
  namespace: openshift-monitoring
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: sre-dns-latency-exporter
  namespace: openshift-monitoring
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: edit
subjects:
- kind: ServiceAccount
  name: sre-dns-latency-exporter
  namespace: openshift-monitoring
#---
# Currently not needed as this exporter does not use the init container
#kind: ClusterRole
#apiVersion: rbac.authorization.k8s.io/v1
#metadata:
#  name: sre-allow-read-machine-info
#rules:
#- apiGroups: ["machine.openshift.io"]
#  resources: ["machines"]
#  verbs: ["get", "list"]
#---
#kind: RoleBinding
#apiVersion: rbac.authorization.k8s.io/v1
#metadata:
#  name: sre-dns-latency-exporter-read-machine-info
#  namespace: openshift-machine-api
#subjects:
#- kind: ServiceAccount
#  name: sre-dns-latency-exporter
#  namespace: openshift-monitoring
#roleRef:
#  apiGroup: rbac.authorization.k8s.io
#  kind: ClusterRole
#  name: sre-allow-read-machine-info
