deploymentMode: "SelectorSyncSet"
selectorSyncSet:
  matchExpressions:
    - key: api.openshift.com/legal-entity-id
      operator: In
      values: "${{ROUTER_REPLICA_ORG_IDS}}"
    - key: api.openshift.com/multi-az
      operator: In
      values: 
        - "true"
