deploymentMode: "SelectorSyncSet"
selectorSyncSet:
  matchExpressions:
  - key: api.openshift.com/product
    operator: In
    values: ["rosa"]
  applyBehavior: "CreateOrUpdate"
policy:
  destination: "acm-policies"
