apiVersion: v1
kind: Template
parameters:
- name: IMAGE_TAG
  required: true
- name: REPO_NAME
  value: managed-cluster-config
  required: true
- name: TELEMETER_SERVER_URL
  required: true
- name: OCM_BASE_URL
  required: true
- name: CONSOLE_BASE_URL
  required: true
- name: SREP_LEGAL_ENTITY_ID
  required: true
- name: DPTP_LEGAL_ENTITY_ID
  required: true
- name: ALLOWED_CIDR_BLOCKS
  required: true
- name: ROUTER_REPLICA_CLUSTER_IDS
  required: true
- name: SEGMENT_API_KEY
  required: true
- name: RHOBS_URL
  required: true
- name: ENV
  required: true
metadata:
  name: selectorsyncset-template
objects:
- apiVersion: hive.openshift.io/v1
  kind: SelectorSyncSet
  metadata:
    name: resource-quota-storage-default
  spec:
    clusterDeploymentSelector:
      matchExpressions:
      - key: api.openshift.com/managed
        operator: In
        values:
        - 'true'
      - key: api.openshift.com/storage-quota-gib
        operator: DoesNotExist
      - key: api.openshift.com/ccs
        operator: NotIn
        values:
        - 'true'
    resourceApplyMode: Sync
    resources:
    - kind: ClusterResourceQuota
      apiVersion: quota.openshift.io/v1
      metadata:
        name: persistent-volume-quota
      spec:
        selector:
          annotations: null
          labels:
            matchExpressions:
            - key: managed.openshift.io/storage-pv-quota-exempt
              operator: DoesNotExist
        quota:
          hard:
            requests.storage: 100Gi
- apiVersion: hive.openshift.io/v1
  kind: SelectorSyncSet
  metadata:
    name: resource-quota-storage-100gb
  spec:
    clusterDeploymentSelector:
      matchLabels:
        api.openshift.com/managed: 'true'
        api.openshift.com/storage-quota-gib: '100'
      matchExpressions:
      - key: api.openshift.com/ccs
        operator: NotIn
        values:
        - 'true'
    resourceApplyMode: Sync
    resources:
    - kind: ClusterResourceQuota
      apiVersion: quota.openshift.io/v1
      metadata:
        name: persistent-volume-quota
      spec:
        selector:
          annotations: null
          labels:
            matchExpressions:
            - key: managed.openshift.io/storage-pv-quota-exempt
              operator: DoesNotExist
        quota:
          hard:
            requests.storage: 100Gi
- apiVersion: hive.openshift.io/v1
  kind: SelectorSyncSet
  metadata:
    name: resource-quota-storage-600gb
  spec:
    clusterDeploymentSelector:
      matchLabels:
        api.openshift.com/managed: 'true'
        api.openshift.com/storage-quota-gib: '600'
      matchExpressions:
      - key: api.openshift.com/ccs
        operator: NotIn
        values:
        - 'true'
    resourceApplyMode: Sync
    resources:
    - kind: ClusterResourceQuota
      apiVersion: quota.openshift.io/v1
      metadata:
        name: persistent-volume-quota
      spec:
        selector:
          annotations: null
          labels:
            matchExpressions:
            - key: managed.openshift.io/storage-pv-quota-exempt
              operator: DoesNotExist
        quota:
          hard:
            requests.storage: 600Gi
- apiVersion: hive.openshift.io/v1
  kind: SelectorSyncSet
  metadata:
    name: resource-quota-storage-1100gb
  spec:
    clusterDeploymentSelector:
      matchLabels:
        api.openshift.com/managed: 'true'
        api.openshift.com/storage-quota-gib: '1100'
      matchExpressions:
      - key: api.openshift.com/ccs
        operator: NotIn
        values:
        - 'true'
    resourceApplyMode: Sync
    resources:
    - kind: ClusterResourceQuota
      apiVersion: quota.openshift.io/v1
      metadata:
        name: persistent-volume-quota
      spec:
        selector:
          annotations: null
          labels:
            matchExpressions:
            - key: managed.openshift.io/storage-pv-quota-exempt
              operator: DoesNotExist
        quota:
          hard:
            requests.storage: 1100Gi
- apiVersion: hive.openshift.io/v1
  kind: SelectorSyncSet
  metadata:
    name: resource-quota-storage-1600gb
  spec:
    clusterDeploymentSelector:
      matchLabels:
        api.openshift.com/managed: 'true'
        api.openshift.com/storage-quota-gib: '1600'
      matchExpressions:
      - key: api.openshift.com/ccs
        operator: NotIn
        values:
        - 'true'
    resourceApplyMode: Sync
    resources:
    - kind: ClusterResourceQuota
      apiVersion: quota.openshift.io/v1
      metadata:
        name: persistent-volume-quota
      spec:
        selector:
          annotations: null
          labels:
            matchExpressions:
            - key: managed.openshift.io/storage-pv-quota-exempt
              operator: DoesNotExist
        quota:
          hard:
            requests.storage: 1600Gi
- apiVersion: hive.openshift.io/v1
  kind: SelectorSyncSet
  metadata:
    name: resource-quota-storage-2100gb
  spec:
    clusterDeploymentSelector:
      matchLabels:
        api.openshift.com/managed: 'true'
        api.openshift.com/storage-quota-gib: '2100'
      matchExpressions:
      - key: api.openshift.com/ccs
        operator: NotIn
        values:
        - 'true'
    resourceApplyMode: Sync
    resources:
    - kind: ClusterResourceQuota
      apiVersion: quota.openshift.io/v1
      metadata:
        name: persistent-volume-quota
      spec:
        selector:
          annotations: null
          labels:
            matchExpressions:
            - key: managed.openshift.io/storage-pv-quota-exempt
              operator: DoesNotExist
        quota:
          hard:
            requests.storage: 2100Gi
- apiVersion: hive.openshift.io/v1
  kind: SelectorSyncSet
  metadata:
    name: resource-quota-storage-2600gb
  spec:
    clusterDeploymentSelector:
      matchLabels:
        api.openshift.com/managed: 'true'
        api.openshift.com/storage-quota-gib: '2600'
      matchExpressions:
      - key: api.openshift.com/ccs
        operator: NotIn
        values:
        - 'true'
    resourceApplyMode: Sync
    resources:
    - kind: ClusterResourceQuota
      apiVersion: quota.openshift.io/v1
      metadata:
        name: persistent-volume-quota
      spec:
        selector:
          annotations: null
          labels:
            matchExpressions:
            - key: managed.openshift.io/storage-pv-quota-exempt
              operator: DoesNotExist
        quota:
          hard:
            requests.storage: 2600Gi
- apiVersion: hive.openshift.io/v1
  kind: SelectorSyncSet
  metadata:
    name: resource-quota-storage-3100gb
  spec:
    clusterDeploymentSelector:
      matchLabels:
        api.openshift.com/managed: 'true'
        api.openshift.com/storage-quota-gib: '3100'
      matchExpressions:
      - key: api.openshift.com/ccs
        operator: NotIn
        values:
        - 'true'
    resourceApplyMode: Sync
    resources:
    - kind: ClusterResourceQuota
      apiVersion: quota.openshift.io/v1
      metadata:
        name: persistent-volume-quota
      spec:
        selector:
          annotations: null
          labels:
            matchExpressions:
            - key: managed.openshift.io/storage-pv-quota-exempt
              operator: DoesNotExist
        quota:
          hard:
            requests.storage: 3100Gi
- apiVersion: hive.openshift.io/v1
  kind: SelectorSyncSet
  metadata:
    name: resource-quota-storage-3600gb
  spec:
    clusterDeploymentSelector:
      matchLabels:
        api.openshift.com/managed: 'true'
        api.openshift.com/storage-quota-gib: '3600'
      matchExpressions:
      - key: api.openshift.com/ccs
        operator: NotIn
        values:
        - 'true'
    resourceApplyMode: Sync
    resources:
    - kind: ClusterResourceQuota
      apiVersion: quota.openshift.io/v1
      metadata:
        name: persistent-volume-quota
      spec:
        selector:
          annotations: null
          labels:
            matchExpressions:
            - key: managed.openshift.io/storage-pv-quota-exempt
              operator: DoesNotExist
        quota:
          hard:
            requests.storage: 3600Gi
- apiVersion: hive.openshift.io/v1
  kind: SelectorSyncSet
  metadata:
    name: resource-quota-storage-4100gb
  spec:
    clusterDeploymentSelector:
      matchLabels:
        api.openshift.com/managed: 'true'
        api.openshift.com/storage-quota-gib: '4100'
      matchExpressions:
      - key: api.openshift.com/ccs
        operator: NotIn
        values:
        - 'true'
    resourceApplyMode: Sync
    resources:
    - kind: ClusterResourceQuota
      apiVersion: quota.openshift.io/v1
      metadata:
        name: persistent-volume-quota
      spec:
        selector:
          annotations: null
          labels:
            matchExpressions:
            - key: managed.openshift.io/storage-pv-quota-exempt
              operator: DoesNotExist
        quota:
          hard:
            requests.storage: 4100Gi
- apiVersion: hive.openshift.io/v1
  kind: SelectorSyncSet
  metadata:
    name: resource-quota-storage-7100gb
  spec:
    clusterDeploymentSelector:
      matchLabels:
        api.openshift.com/managed: 'true'
        api.openshift.com/storage-quota-gib: '7100'
      matchExpressions:
      - key: api.openshift.com/ccs
        operator: NotIn
        values:
        - 'true'
    resourceApplyMode: Sync
    resources:
    - kind: ClusterResourceQuota
      apiVersion: quota.openshift.io/v1
      metadata:
        name: persistent-volume-quota
      spec:
        selector:
          annotations: null
          labels:
            matchExpressions:
            - key: managed.openshift.io/storage-pv-quota-exempt
              operator: DoesNotExist
        quota:
          hard:
            requests.storage: 7100Gi
- apiVersion: hive.openshift.io/v1
  kind: SelectorSyncSet
  metadata:
    name: resource-quota-service-lb-default
  spec:
    clusterDeploymentSelector:
      matchExpressions:
      - key: api.openshift.com/managed
        operator: In
        values:
        - 'true'
      - key: api.openshift.com/service-lb-quota
        operator: DoesNotExist
      - key: api.openshift.com/ccs
        operator: NotIn
        values:
        - 'true'
    resourceApplyMode: Sync
    resources:
    - kind: ClusterResourceQuota
      apiVersion: quota.openshift.io/v1
      metadata:
        name: loadbalancer-quota
      spec:
        selector:
          annotations: null
          labels:
            matchExpressions:
            - key: managed.openshift.io/service-lb-quota-exempt
              operator: DoesNotExist
        quota:
          hard:
            services.loadbalancers: '0'
- apiVersion: hive.openshift.io/v1
  kind: SelectorSyncSet
  metadata:
    name: resource-quota-service-lb-0
  spec:
    clusterDeploymentSelector:
      matchLabels:
        api.openshift.com/managed: 'true'
        api.openshift.com/service-lb-quota: '0'
      matchExpressions:
      - key: api.openshift.com/ccs
        operator: NotIn
        values:
        - 'true'
    resourceApplyMode: Sync
    resources:
    - kind: ClusterResourceQuota
      apiVersion: quota.openshift.io/v1
      metadata:
        name: loadbalancer-quota
      spec:
        selector:
          annotations: null
          labels:
            matchExpressions:
            - key: managed.openshift.io/service-lb-quota-exempt
              operator: DoesNotExist
        quota:
          hard:
            services.loadbalancers: '0'
- apiVersion: hive.openshift.io/v1
  kind: SelectorSyncSet
  metadata:
    name: resource-quota-service-lb-4
  spec:
    clusterDeploymentSelector:
      matchLabels:
        api.openshift.com/managed: 'true'
        api.openshift.com/service-lb-quota: '4'
      matchExpressions:
      - key: api.openshift.com/ccs
        operator: NotIn
        values:
        - 'true'
    resourceApplyMode: Sync
    resources:
    - kind: ClusterResourceQuota
      apiVersion: quota.openshift.io/v1
      metadata:
        name: loadbalancer-quota
      spec:
        selector:
          annotations: null
          labels:
            matchExpressions:
            - key: managed.openshift.io/service-lb-quota-exempt
              operator: DoesNotExist
        quota:
          hard:
            services.loadbalancers: '4'
- apiVersion: hive.openshift.io/v1
  kind: SelectorSyncSet
  metadata:
    name: resource-quota-service-lb-8
  spec:
    clusterDeploymentSelector:
      matchLabels:
        api.openshift.com/managed: 'true'
        api.openshift.com/service-lb-quota: '8'
      matchExpressions:
      - key: api.openshift.com/ccs
        operator: NotIn
        values:
        - 'true'
    resourceApplyMode: Sync
    resources:
    - kind: ClusterResourceQuota
      apiVersion: quota.openshift.io/v1
      metadata:
        name: loadbalancer-quota
      spec:
        selector:
          annotations: null
          labels:
            matchExpressions:
            - key: managed.openshift.io/service-lb-quota-exempt
              operator: DoesNotExist
        quota:
          hard:
            services.loadbalancers: '8'
- apiVersion: hive.openshift.io/v1
  kind: SelectorSyncSet
  metadata:
    name: resource-quota-service-lb-12
  spec:
    clusterDeploymentSelector:
      matchLabels:
        api.openshift.com/managed: 'true'
        api.openshift.com/service-lb-quota: '12'
      matchExpressions:
      - key: api.openshift.com/ccs
        operator: NotIn
        values:
        - 'true'
    resourceApplyMode: Sync
    resources:
    - kind: ClusterResourceQuota
      apiVersion: quota.openshift.io/v1
      metadata:
        name: loadbalancer-quota
      spec:
        selector:
          annotations: null
          labels:
            matchExpressions:
            - key: managed.openshift.io/service-lb-quota-exempt
              operator: DoesNotExist
        quota:
          hard:
            services.loadbalancers: '12'
- apiVersion: hive.openshift.io/v1
  kind: SelectorSyncSet
  metadata:
    name: resource-quota-service-lb-16
  spec:
    clusterDeploymentSelector:
      matchLabels:
        api.openshift.com/managed: 'true'
        api.openshift.com/service-lb-quota: '16'
      matchExpressions:
      - key: api.openshift.com/ccs
        operator: NotIn
        values:
        - 'true'
    resourceApplyMode: Sync
    resources:
    - kind: ClusterResourceQuota
      apiVersion: quota.openshift.io/v1
      metadata:
        name: loadbalancer-quota
      spec:
        selector:
          annotations: null
          labels:
            matchExpressions:
            - key: managed.openshift.io/service-lb-quota-exempt
              operator: DoesNotExist
        quota:
          hard:
            services.loadbalancers: '16'
- apiVersion: hive.openshift.io/v1
  kind: SelectorSyncSet
  metadata:
    name: resource-quota-service-lb-20
  spec:
    clusterDeploymentSelector:
      matchLabels:
        api.openshift.com/managed: 'true'
        api.openshift.com/service-lb-quota: '20'
      matchExpressions:
      - key: api.openshift.com/ccs
        operator: NotIn
        values:
        - 'true'
    resourceApplyMode: Sync
    resources:
    - kind: ClusterResourceQuota
      apiVersion: quota.openshift.io/v1
      metadata:
        name: loadbalancer-quota
      spec:
        selector:
          annotations: null
          labels:
            matchExpressions:
            - key: managed.openshift.io/service-lb-quota-exempt
              operator: DoesNotExist
        quota:
          hard:
            services.loadbalancers: '20'
- apiVersion: hive.openshift.io/v1
  kind: SelectorSyncSet
  metadata:
    name: osd-observatorium-credentials-secret
  spec:
    clusterDeploymentSelector:
      matchExpressions:
      - key: api.openshift.com/managed
        operator: In
        values:
        - 'true'
      - key: api.openshift.com/fedramp
        operator: NotIn
        values:
        - 'true'
    resourceApplyMode: Sync
    secretMappings:
    - sourceRef:
        name: observatorium-credentials
        namespace: observatorium-tenant
      targetRef:
        name: observatorium-credentials
        namespace: openshift-monitoring
- apiVersion: hive.openshift.io/v1
  kind: SelectorSyncSet
  metadata:
    labels:
      managed.openshift.io/gitHash: ${IMAGE_TAG}
      managed.openshift.io/gitRepoName: ${REPO_NAME}
      managed.openshift.io/osd: 'true'
    name: osd-14634-disable-cpms
  spec:
    clusterDeploymentSelector:
      matchLabels:
        api.openshift.com/managed: 'true'
      matchExpressions:
      - key: hive.openshift.io/version-major-minor-patch
        operator: In
        values:
        - 4.12.0
        - 4.12.1
        - 4.12.2
    resourceApplyMode: Sync
    resources:
    - apiVersion: v1
      kind: ServiceAccount
      metadata:
        name: osd-disable-cpms
        namespace: openshift-machine-api
    - apiVersion: rbac.authorization.k8s.io/v1
      kind: Role
      metadata:
        name: osd-disable-cpms
        namespace: openshift-machine-api
      rules:
      - apiGroups:
        - machine.openshift.io
        resources:
        - controlplanemachinesets
        verbs:
        - delete
    - apiVersion: rbac.authorization.k8s.io/v1
      kind: RoleBinding
      metadata:
        name: osd-disable-cpms
        namespace: openshift-machine-api
      roleRef:
        apiGroup: rbac.authorization.k8s.io
        kind: Role
        name: osd-disable-cpms
      subjects:
      - kind: ServiceAccount
        name: osd-disable-cpms
        namespace: openshift-machine-api
    - apiVersion: batch/v1
      kind: CronJob
      metadata:
        name: osd-disable-cpms
        namespace: openshift-machine-api
      spec:
        failedJobsHistoryLimit: 3
        successfulJobsHistoryLimit: 1
        concurrencyPolicy: Replace
        schedule: '*/15 * * * *'
        jobTemplate:
          spec:
            ttlSecondsAfterFinished: 180
            template:
              spec:
                affinity:
                  nodeAffinity:
                    preferredDuringSchedulingIgnoredDuringExecution:
                    - preference:
                        matchExpressions:
                        - key: node-role.kubernetes.io/infra
                          operator: Exists
                      weight: 1
                tolerations:
                - effect: NoSchedule
                  key: node-role.kubernetes.io/infra
                  operator: Exists
                serviceAccountName: osd-disable-cpms
                restartPolicy: Never
                containers:
                - name: osd-disable-cpms
                  image: image-registry.openshift-image-registry.svc:5000/openshift/cli:latest
                  imagePullPolicy: Always
                  args:
                  - /bin/bash
                  - -c
                  - '# the appropriate way to disable CPMS is to delete the CPMS CR.

                    oc delete controlplanemachineset.machine.openshift.io/cluster
                    -n openshift-machine-api --ignore-not-found echo "done"

                    '
- apiVersion: v1
  data:
    environment: stage
  kind: ConfigMap
  metadata:
    name: hive-environment
    namespace: openshift-config
- apiVersion: hive.openshift.io/v1
  kind: SelectorSyncSet
  metadata:
    name: rhobs-hypershift-config
  spec:
    clusterDeploymentSelector:
      matchExpressions:
      - key: ext-hypershift.openshift.io/cluster-type
        operator: In
        values:
        - management-cluster
        - service-cluster
    resourceApplyMode: Sync
    secretMappings:
    - sourceRef:
        name: rhobs-hypershift-credential
        namespace: hive
      targetRef:
        name: rhobs-hypershift-credential
        namespace: openshift-monitoring
    - sourceRef:
        name: rhobs-hypershift-credential
        namespace: hive
      targetRef:
        name: rhobs-hypershift-credential
        namespace: openshift-observability-operator
