deploymentMode: "SelectorSyncSet"
selectorSyncSet:
  matchExpressions:
  - key: hive.openshift.io/version-major-minor
    operator: In
    values: ["4.10"]
  - key: api.openshift.com/channel-group
    operator: NotIn
    values: ["nightly","candidate","fast"]
