apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingAdmissionPolicy
metadata:
  name: windows-vcpu-overcommit
spec:
  failurePolicy: Fail
  matchConditions:
  - expression: (('kubevirt.io/preference-name' in object.metadata.annotations) && 
        (object.metadata.annotations['kubevirt.io/preference-name'].lowerAscii().contains('windows'))) ||
        (('kubevirt.io/cluster-preference-name' in object.metadata.annotations) && 
        (object.metadata.annotations['kubevirt.io/cluster-preference-name'].lowerAscii().contains('windows'))) ||
        (('vm.kubevirt.io/os' in object.metadata.annotations) && 
        (object.metadata.annotations['vm.kubevirt.io/os'].lowerAscii().contains('windows')))
    name: windows-vcpu-overcommit
  matchConstraints:
    resourceRules:
    - apiGroups: ["kubevirt.io"]
      apiVersions: ["*"]
      operations: ["CREATE", "UPDATE"]
      resources: ["virtualmachineinstances"]
  validations:
    - expression: |- 
        has(object.spec.domain.cpu.dedicatedCpuPlacement) && object.spec.domain.cpu.dedicatedCpuPlacement == true
      message: "Windows VMIs require dedicated CPU placement. Set spec.domain.cpu.dedicatedCpuPlacement to true."

