apiVersion: batch/v1
kind: CronJob
metadata:
  name: capa-annotator-4-14
  namespace: openshift-capa-annotator
  annotations:
    kubernetes.io/description: "Patches 4.14 Manifest works to fixed CAPI version https://issues.redhat.com/browse/OSD-25821"
spec:
  schedule: "*/5 * * * *" # Every five minutes
  concurrencyPolicy: Replace
  jobTemplate:
    spec:
      template:
        metadata:
          name: capa-annotator
          namespace: openshift-capa-annotator
          annotations:
            kubernetes.io/description: "Patches 4.14 Manifest works to fixed CAPI version https://issues.redhat.com/browse/OSD-25821"
        spec:
          affinity:
            nodeAffinity:
              preferredDuringSchedulingIgnoredDuringExecution:
                - preference:
                    matchExpressions:
                      - key: node-role.kubernetes.io/infra
                        operator: Exists
                  weight: 1
          tolerations:
            - effect: NoSchedule
              key: node-role.kubernetes.io/infra
              operator: Exists
          containers:
            - name: capa-annotator
              image: image-registry.openshift-image-registry.svc:5000/openshift/tools:latest
              imagePullPolicy: IfNotPresent
              securityContext:
                allowPrivilegeEscalation: false
                capabilities:
                  drop:
                    - ALL
                runAsNonRoot: true
              env:
                - name: IMAGE # 4.14.41
                  value: quay.io/openshift-release-dev/ocp-v4.0-art-dev@sha256:8ef2860fe69648046ee92a0d5b272fe17ec1a0bee000c27af21bc4a7dade8394
                - name: MAJOR_MINOR_VER
                  value: "4.14"
                - name: Z_STREAM_FIXED_VER
                  value: "4.14.41"
              volumeMounts:
                - name: scripts
                  mountPath: /tmp/scripts
              command:
                - /bin/bash
              args:
                - /tmp/scripts/patch.sh
          volumes:
            - name: scripts
              configMap:
                name: capa-annotator
          serviceAccountName: capa-annotator
          automountServiceAccountToken: true
          restartPolicy: Never
