deploymentMode: "SelectorSyncSet"
selectorSyncSet:
  resourceApplyMode: Sync
  matchExpressions:
  ## This will be removed once OSD-14568 has been completed
  ## Issue exists in 4.13 as well
  - key: hive.openshift.io/version-major-minor
    operator: In
    values: 
      - "4.12"
      - "4.13"
  - key: ext-hypershift.openshift.io/cluster-type
    operator: NotIn
    values: ["management-cluster"]