deploymentMode: "SelectorSyncSet"
selectorSyncSet:
  resourceApplyMode: Sync
  matchExpressions:
  ## This will need to be changed to use version-major-minor-patch when
  ## we move to enable this feature in the future
  - key: hive.openshift.io/version-major-minor-patch
    operator: In
    values:
    - 4.12.0
    - 4.12.1
    - 4.12.2
