apiVersion: velero.io/v1
kind: Schedule
metadata:
  name: daily-full-backup
  namespace: openshift-velero
spec:
  schedule: 0 1 * * *
  template:
    excludedNamespaces: null
    excludedResources: null
    hooks:
      resources: null
    includeClusterResources: null
    includedNamespaces:
    - '*'
    includedResources: null
    labelSelector: null
    storageLocation: ""
    ttl: 168h0m0s
    volumeSnapshotLocations: null
---
apiVersion: velero.io/v1
kind: Schedule
metadata:
  name: hourly-object-backup
  namespace: openshift-velero
spec:
  schedule: 17 * * * *
  template:
    excludedNamespaces: null
    excludedResources: null
    hooks:
      resources: null
    includeClusterResources: null
    includedNamespaces:
    - '*'
    includedResources: null
    labelSelector: null
    snapshotVolumes: false
    storageLocation: ""
    ttl: 24h0m0s
    volumeSnapshotLocations: null
---
apiVersion: velero.io/v1
kind: Schedule
metadata:
  name: weekly-full-backup
  namespace: openshift-velero
spec:
  schedule: 0 2 * * 1
  template:
    excludedNamespaces: null
    excludedResources: null
    hooks:
      resources: null
    includeClusterResources: null
    includedNamespaces:
    - '*'
    includedResources: null
    labelSelector: null
    storageLocation: ""
    ttl: 720h0m0s
    volumeSnapshotLocations: null
