apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    prometheus: sre-node-unschedulable
    role: alert-rules
    api.openshift.com/managed: "true"
  name: sre-node-unschedulable
  namespace: openshift-monitoring
spec:
  groups:
  - name: sre-node-unschedulable
    rules:
    - alert: KubeNodeUnschedulableSRE
      expr: kube_node_spec_unschedulable > 0
      for: 1h
      labels:
        severity: warning
        namespace: openshift-monitoring
      annotations:
        message: "The node {{ $labels.node }} has been unscedulable for more than an hour."
        link: "https://github.com/openshift/ops-sop/blob/master/v3/alerts/openshift_node_not_schedulable.asciidoc"
