apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: control-plane-log-forwarding
  labels:
    app.kubernetes.io/name: control-plane-log-forwarding
    app.kubernetes.io/part-of: multi-tenant-logging
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - namespaces
  verbs: 
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources: 
  - nodes
  verbs: 
  - get
  - list
  - watch
