apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: backplane-mkrts-readers-cluster
aggregationRule:
  clusterRoleSelectors:
    # aggregate all "view" scope rbac
    - matchExpressions:
        - key: rbac.authorization.k8s.io/aggregate-to-view
          operator: In
          values:
            - "true"
    - matchExpressions:
        - key: managed.openshift.io/aggregate-to-dedicated-readers
          operator: In
          values:
            - "true"
rules: []
