apiVersion: v1
kind: ServiceAccount
metadata:
  name: sre-pruner-sa
  namespace: openshift-sre-pruning
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: sre-pruner-images
roleRef:
  kind: ClusterRole
  name: system:image-pruner
  apiGroup: rbac.authorization.k8s.io
subjects:
- kind: ServiceAccount
  name: sre-pruner-sa
  namespace: openshift-sre-pruning
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: sre-pruner-buildsdeploys-cr
rules:
# deployment pruning
- apiGroups:
  - ""
  resources:
  - pods
  - replicationcontrollers
  verbs:
  - list
  - get
- apiGroups:
  - ""
  resources:
  - replicationcontrollers
  verbs:
  - delete
- apiGroups:
  - apps.openshift.io
  resources:
  - deploymentconfigs
  verbs:
  - get
  - list
# builds pruning
- apiGroups:
  - build.openshift.io
  resources:
  - buildconfigs
  - builds
  verbs:
  - list
  - get
- apiGroups:
  - build.openshift.io
  resources:
  - builds
  verbs:
  - delete
# alerts pruning
- apiGroups:
  - monitoring.coreos.com
  resources:
  - prometheusrules
  verbs:
  - delete
# crd pruning
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - delete
# credentialsrequest pruning
- apiGroups:
  - cloudcredential.openshift.io
  resources:
  - credentialsrequests
  verbs:
  - delete
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: sre-pruner-buildsdeploys-pruning
roleRef:
  kind: ClusterRole
  name: sre-pruner-buildsdeploys-cr
  apiGroup: rbac.authorization.k8s.io
subjects:
- kind: ServiceAccount
  name: sre-pruner-sa
  namespace: openshift-sre-pruning
