apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: backplane-cssre-mkafka-project
rules:
# SRE can get, list, and watch all resources
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
# SRE can use oc debug
- apiGroups:
  - ""
  resources:
  - pods
  - pods/attach
  verbs:
  - create
# SRE can delete pods
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - delete
  - deletecollection
# SRE can delete replicasets
- apiGroups:
  - ""
  resources:
  - replicasets
  verbs:
  - delete
  - deletecollection
# SRE can use oc port-forward
- apiGroups:
  - ""
  resources:
  - pods/portforward
  verbs:
  - create
# SRE can run commands in pods
- apiGroups:
  - ""
  resources:
  - pods/exec
  verbs:
  - create
# SRE can run commands in pods
- apiGroups:
  - "kafka.strimzi.io"
  resources:
  - kafkarebalances
  verbs:
  - create
  - get
  - list
  - watch
  - patch
  - update
  - delete
