apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: backplane-cssre-mkafka-project
aggregationRule:
  clusterRoleSelectors:
    # aggregate all "view" scope rbac
    - matchExpressions:
        - key: rbac.authorization.k8s.io/aggregate-to-view
          operator: In
          values:
            - "true"
rules:
# SRE can use oc debug
- apiGroups:
  - ""
  resources:
  - pods
  - pods/attach
  verbs:
  - create
# SRE can delete pods
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - delete
  - deletecollection
# SRE can delete replicasets
- apiGroups:
  - ""
  resources:
  - replicasets
  verbs:
  - delete
  - deletecollection
# SRE can use oc port-forward
- apiGroups:
  - ""
  resources:
  - pods/portforward
  verbs:
  - create
# SRE can run commands in pods
- apiGroups:
  - ""
  resources:
  - pods/exec
  verbs:
  - create
# SRE can run commands in pods
- apiGroups:
  - "kafka.strimzi.io"
  resources:
  - kafkarebalances
  verbs:
  - create
  - get
  - list
  - watch
  - patch
  - update
  - delete
  - deletecollection
