deploymentMode: "SelectorSyncSet"
selectorSyncSet:
  matchExpressions:
  - key: ext-managed.openshift.io/hive-shard
    operator: In
    values: ["true"]
  - key: api.openshift.com/fedramp
    operator: NotIn
    values:
      - "true"
