deploymentMode: "SelectorSyncSet"
selectorSyncSet:
  resourceApplyMode: Sync
  matchExpressions:
  - key: api.openshift.com/environment
    operator: In
    values: ["staging"]
  - key: api.openshift.com/fedramp
    operator: NotIn
    values: ["true"]
