# Same rbac as "view" clusterrole.
# The "view" clusterrole doesn't provide labels we can aggregate on so we duplicate the aggregation rules.
# Why this vs a binding? Option in the future to tweak this independent of the OCP "view" clusterrole.
aggregationRule:
  clusterRoleSelectors:
  # aggregate all "view" scope rbac
  - matchExpressions:
    - key: rbac.authorization.k8s.io/aggregate-to-view
      operator: In
      values:
        - "true"
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    managed.openshift.io/aggregate-to-dedicated-admins: "cluster"
  name: dedicated-readers
rules: []