# a general "reader" / "view" clusterrole that adds a few things we want to grant to any reader on the cluster such as dedicated-readers (see labels used for aggregation)
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    managed.openshift.io/aggregate-to-dedicated-readers: "true"
  name: osd-readers-aggregate
rules:
- apiGroups:
  - ""
  attributeRestrictions: null
  resources:
  - nodes
  - persistentvolumes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  - quota.openshift.io
  attributeRestrictions: null
  resources:
  - clusterresourcequotas
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  - authorization.openshift.io
  attributeRestrictions: null
  resources:
  - clusterpolicybindings
  verbs:
  - get
  - list
### START - run `oc adm top pod` or `oc adm top node`
- apiGroups:
  - metrics.k8s.io
  resources:
  - nodes
  - pods
  verbs:
  - list
### END
### Start - fix `oc describe nodes`
# https://issues.redhat.com/browse/OHSS-1105
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
### END
### Start - Allow read permissions to more resources
# https://issues.redhat.com/browse/OSD-5537
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apiregistration.k8s.io
  resources:
  - apiservices
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - authorization.openshift.io
  resources:
  - clusterrolebindings
  - clusterroles
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - autoscaling.openshift.io
  resources:
  - clusterautoscalers
  verbs:
  - get
  - list
  - watch
# osd-readers can view oauths, clusterversions, infrastructures, apiservers, consoles,
#    authentications, builds, clusteroperators, dnses, schedulers, projects,
#    featuregates, images, ingresses, networks, operatorhubs, proxies
#    https://issues.redhat.com/browse/OSD-4298
#    https://issues.redhat.com/browse/OSD-5261
- apiGroups:
  - config.openshift.io
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
# osd-readers can view consolelinks, consolenotifications, consoleexternalloglinks,
#    consoleyamlsamples
- apiGroups:
  - console.openshift.io
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
# osd-readers can view flowschemas and prioritylevelconfigurations
- apiGroups:
  - flowcontrol.apiserver.k8s.io
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - image.openshift.io
  resources:
  - images
  - imagesignatures
  verbs:
  - get
  - list
  - watch
# osd-readers can view configs and imagepruners
- apiGroups:
  - imageregistry.operator.openshift.io
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - metal3.io
  resources:
  - provisionings
  verbs:
  - get
  - list
  - watch
# osd-readers can view storagestates and storageversionmigrations
- apiGroups:
  - migration.k8s.io
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - network.openshift.io
  resources:
  - clusternetworks
  - hostsubnets
  - netnamespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingressclasses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - node.k8s.io
  resources:
  - runtimeclasses
  verbs:
  - get
  - list
  - watch
# osd-readers can view authentications, cloudcredentials, clustercsidrivers,
#    configs, consoles, csisnapshotcontrollers, dnses, etcds,
#    imagecontentsourcepolicies, ingresscontrollers, kubeapiservers,
#    kubecontrollermanagers, kubeschedulers, kubestorageversionmigrators,
#    networks, openshiftapiservers, openshiftcontrollermanagers,
#    servicecas, storages
- apiGroups:
  - operator.openshift.io
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - policy
  resources:
  - podsecuritypolicies
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - project.openshift.io
  resources:
  - projectrequests
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterroles
  - clusterrolebindings
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - samples.operator.openshift.io
  resources:
  - configs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - scheduling.k8s.io
  resources:
  - priorityclasses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - security.openshift.io
  resources:
  - securitycontextconstraints
  - rangeallocations
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - snapshot.storage.k8s.io
  resources:
  - volumesnapshotcontents
  - volumesnapshotclasses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  - volumeattachments
  - csinodes
  - csidrivers
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - template.openshift.io
  resources:
  - brokertemplateinstances
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - user.openshift.io
  resources:
  - groups
  - identities
  - users
  verbs:
  - get
  - list
  - watch
# SRE can get, list, and watch 'operators.operators.coreos.com'
# TODO: Temporary permission,
# Remove after https://github.com/operator-framework/operator-lifecycle-manager/pull/2175
- apiGroups:
  - operators.coreos.com
  resources:
  - operators
  verbs:
  - get
  - list
  - watch
### End
