apiVersion: managed.openshift.io/v1alpha1
kind: SubjectPermission
metadata:
  name: dedicated-admin-serviceaccounts
  namespace: openshift-rbac-permissions
spec:
  subjectKind: Group
  subjectName: system:serviceaccounts:dedicated-admin
  clusterPermissions:
    - dedicated-admins-cluster
  permissions:
    - 
      clusterRoleName: dedicated-admins-project
      namespacesAllowedRegex: ".*"
      namespacesDeniedRegex: "(^kube.*|^openshift.*|^default$|^redhat-.*)"
      allowFirst: true
