apiVersion: managed.openshift.io/v1alpha1
kind: SubjectPermission
metadata:
  name: backplane-lpsre-ocs-consumer
  namespace: openshift-rbac-permissions
spec:
  permissions:
  - clusterRoleName: admin
    namespacesAllowedRegex: (^openshift-storage$)
    namespacesDeniedRegex: openshift-backplane-cluster-admin
  - clusterRoleName: backplane-ocs-consumer-cr-project
    namespacesAllowedRegex: (^openshift-storage$)
    namespacesDeniedRegex: openshift-backplane-cluster-admin
  - clusterRoleName: backplane-lpsre-monitoring-project
    namespacesAllowedRegex: (^openshift-storage$)
    namespacesDeniedRegex: openshift-backplane-cluster-admin
  subjectKind: Group
  subjectName: system:serviceaccounts:openshift-backplane-lpsre
