---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: ocpbugs-20184
  namespace: openshift-network-node-identity
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - delete
