apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: dedicated-admins-project-config
rules:
- apiGroups:
  - config.openshift.io
  resources:
  - projects
  verbs:
  - get
  - patch
  - update
  - watch
